<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlanAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E427819C1CAA74DE0071A02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42781B51CAA74DE0071A02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42781C01CAA74DE0071A02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
